/* author Alfonse Mugisho */

*body{
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background: #fefefe;
  overflow-x: hidden;
  width: 100%;

}

#top{
  background-color: black;
  padding: 10px 0;
}

#top .offer .btn{
  text-transform: uppercase;
  float:left;
}

#top .offer a{
  float:left;
}

#top a {
  color:#fff;

}

#top .offer{
  color:#fff;
}


@media(max-width:100px){
  #top .offer{
    margin-bottom: 10px;
  }
}

@media(max-width:100px){
  #top{
    font-size: 14px;
    text-align: center;
  }
}


#top ul.menu{
  .padding-top: 5px;
  margin: 0px;
  text-align:right;
  font-size: 14px;
  list-style: none;
}

@media(max-with:100px) {
  #top ul.menu{
    text-align: center;
  }
}

#top ul.menu > li{
  display: inline-block;
}

#top ul.menu>li a{
  color: #eeeeee;
}

#top ul.menu >li + li:before{
  content: "|\00a0";
  color: #f7f7f7;
  padding:0 5px;

}

/* Navigation level 2*/

#cart, #search1{
  float:right;
  margin: 10px;

}

.navbar{
  background: #ffffff;
}

.navbar-collapse .righ{
  float: right;
}

.navbar-brand{
  float:left;
  padding:10px 15px;
  font-size:18px;
  line-height: 20px;
  height: 70px;
}

.navbar-brand:hover
.navbar-brand:focus{
  text-decoration: none;
}

.navbar ul.nav > li >a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

.navbar ul.nav > li >a:hover {
  background: :#e7e7e7;
}

.padding-nav{
  padding-top:10px;
}

.btn-primary{
  color: rgb(255, 255, 255);
  background: rgb(79, 191, 168);
  border-color: rgb(65, 179, 156);
}

#search .navbar-form{
  float:right;
}

#search{
  clear:both;
  border-top: solid 1px #9adacd;
  text-align: right;
}

#search .navbar-form .input-group{
  display: table;

}

#search .navbar-form .input-group .form-control{
  width: 100%;

}

#slider{
  margin-bottom: 40px;
}

#simage{
  width:100%;
  height:400px;
}


/*Advantages styles goes bellow  */


#advantages{
  text-align: center;
}

#advantages .box{
  background: #ffffff;
  margin: 10px 0 0px -25px;
  width: 100%;
  border: solid 1px #efefef;
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 3);
}

#advantages .box .icon{
  position: absolute;
  font-size: 120px;
  width: 100%;
  text-align: center;
  top: -10px;
  left: 0px;
  height: 100%;
  float: left;
  color: #c5919d;
  box-sizing: border-box;
  z-index: 1;
}

#advantages .box h3{
  position: relative;
  margin: 0 0 20px;
  font-weight: 300;
  text-transform: 2;
  z-index: 1;
}

#advantages .box h3 a{
  color:#4fbfaB;
}

#advantages .box h3 a:hover{
  text-decoration: none;
}

#advantages .box p{
  position: relative;
  z-index: 2;
  color: #555555;
}

#hot h2{
  font-size: 36px;
  font-weight: 400;
  color:#4fbfaB;
  text-align: Center;
}

#pimages{
  height: 250px;
}

#container{
  padding-left: 25px;
  padding-right: 35px;
}

#container .product{
  background-color: #fff;
  border: solid 1px #e6e6e6;
  margin-bottom: 30px;
  box-sizing: border-box;
}

.single{
  width: 290px;
}

@media(max-width:760px) {
  .single{
    width: 60%;
    margin: 0 auto;
  }
}

#content .product .text p.price{
  font-size: 18px;
  text-align: center;
  font-weight: 400;
}

#content .product .text{
  padding: 10px 10px 0px;
}

#content .product .text .button .btn{
  margin-bottom: 10px;
}

#content .product .text .button{
  clear:both;
  text-align: center;
}

#content .product .text h3{
  text-align: center;
  font-size: 20px;
}

#content .product .text h3 a{
  color: rgb(85, 85, 85);
}

/* for firefox only*/

@-moz-document url-prefix(){
  .form-height-custom{
    height: auto;

  }
}



/* footer style  not working yet*/

#footer{
  background:#e0e0e0;
  padding: 10px 0 ;
}

#footer ul{
  list-style:none;
  padding-left: 0px;
}

#footer ul a{
  color: #999;
  padding: 10px 0;

}

#footer .social{
  text-align: left;
}

#footer .social a{
  margin: 0px 10px 0px 0px;
  display: inline-block;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  line-height: 30px;
  font-size: 15px;
  text-align: center;
  vertical-align: bottom;
  background: #555;
  text-decoration: none;
}

#footer .social a:hover{
  color: #dedede;
  background: #777777;
}

#copyright{
  background:#333;
  color:#ffffff;
  padding: 20px 0px;
  font-size: 15px;
}


/* breadcrumb style */

.breadcrumb{
  padding: 8px 15px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 1px 5px rgb(0, 0, 0,5);
}

.breadcrumb> li + li:before{
  content: ">\00a0";
  color: #ccc;
}

@media(max-width:991px;){
  .breadcrumb{
    padding: 8px 0px;
    text-align: center;
  }
}

/* product category */


#content .panel .slidebar-menu{
  box-sizing: border-box;;
  box-shadow: 0px 1px 5px rgba( 0, 0, 0,.5);
}

#content .panel .slidebar-menu ul.nav .category-menu{
  margin-bottom: 20px;

}

#content .panel.slidebar-menu ul.nav.category-menu li a{
  text-transform: uppercase;
  font-weight: 600;
}

#content .panel .sidebar-menu h3{
  padding: 5px 0px;
  margin: 0px;
}


/* Details page*/
#content #productMain{
  margin-bottom: 30px;
}

#content #productMain .price{
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  margin-top: 30px;
}

#content mainImage{
  box-shadow: 0px 1px 5px rgba(0, 0, 0, .7);
}

#content .thumbs a{
  display: bock;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, .5);
  border: 2px solid transparent;

}

/* Cart.php */

#content #cart .table tbody tr td img{
  width: 50px;
}

#content #cart .table tbody tr td input{
  width: 40px;
  text-align:right;
}

#content #cart .table tbody tr td{
  vertical-align: middle;
}

#content #cart .table tbody tr td{
  vertical-align: middle;
}

#content #cart .table tfoot{
  font-size: 18px;
}

.box .box-footer{
  background-color: #f7f7f7;
  margin: 30px -20x 20px;
  padding: 20px;
  border-top:1px solid #000;
}

.box .box-footer:before,
.box .box-footer:after{
  content: "";
  display: table;
}

.box .box-footer:after{
  clear:both;
}

.box .box-header{
  background-color: #f7f7f7;
  margin: 30px -20x 20px;
  padding: 20px;
  border-top:1px solid #eee;
}

#content #order-summary  table{
  margin-top: 20px;
}

#content #order-summary  table td{
  color: #999999;
}

#content #order-summary  table tr.total td,
#content #order-summary  table tr.total th{
  font-size: 18px;
  color:#555555;
  font-weight: 700;

}
